body{  
   padding: 0;
   margin: 0;
   background:white;
   font-size: 62.5%;
   overflow-x:hidden;
    }

.home{
	width:50px;
	height:40px;
	position:absolute;
	top:86.5%;
	left:630px;
	
	
}
.p1{
	
	position:absolute;
	top:84.7%;
	left:617px;
 
	font-size:20px;

	
}
.linie1{
	position:absolute;
	top:73%;
	left:0px;
	font-size:50px;
    
}
.p2{
	
	position:absolute;
	top:84.7%;
	right:657px;
 
	font-size:20px;

	
}
.linie2{
	position:absolute;
	top:73%;
	right:-10px;
	font-size:50px;
    
}
.banner {
  position:absolute;
  top:15%;
  left:0px;
  margin: auto;
  width:1355px;
  height:420px;
}

.harta{
	position:absolute;
	top:96%;
	left:55px;
	width:525px;
	height:360px;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.fa-map-marker-alt{
	position:absolute;
	top:160%;
	font-size:30px;
	color:red;
	left:80px;
}
.fa-envelope{
	position:absolute;
	top:170%;
	font-size:30px;
	color:#C4C4C4;
	left:80px;
}
.fa-phone-alt{
	position:absolute;
	top:180%;
	font-size:30px;
	color:black;
	left:80px;
}
.d1{
	font-size:20px;
	position:absolute;
	top:157%;
	left:135px;
}
.d2{
	font-size:20px;
	position:absolute;
	top:167%;
	left:135px;
}
.d3{
	font-size:20px;
	position:absolute;
	top:177%;
	left:135px;
}



/*-----------------FORMULAR-------------------------*/
h2{
	position:absolute;
	font-family: Helvetica;
	font-size:25px;
	left:940px;
	top:93%;
	
}
.wrapper input[type=text]{
    width: 40%;
    padding: 1em 1em;
    margin: 1em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
	background: #F2EBE2;
    box-sizing: border-box;
	position:absolute;
	top:106%;
	left:750px;
	
  }
  
 #nume-error{
	 position:absolute;
	 top:116%;
	 font-size:17px;
	 left:770px;
 }
.wrapper input[type=prenume]{
    width: 40%;
    padding: 1em 1em;
    margin: 1em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
	background: #F2EBE2;
    box-sizing: border-box;
	position:absolute;
	top:118%;
	left:750px;
	
  }
  #prenume-error{
	 position:absolute;
	 top:128%;
	 font-size:17px;
	 left:770px;
 }
.wrapper input[type=numar]{
    width: 40%;
    padding: 1em 1em;
    margin: 1em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
	background: #F2EBE2;
    box-sizing: border-box;
	position:absolute;
	top:130%;
	left:750px;
	
  }
  
  #telefon-error{
	 position:absolute;
	 top:139.7%;
	 font-size:17px;
	 left:770px;
  }
.wrapper input[type=email] {
    width: 40%;
    padding: 1em 1em;
    margin: 1em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
	background: #F2EBE2;
    box-sizing: border-box;
	position:absolute;
	top:142%;
	left:750px;
	
  }
   #email-error{
	 position:absolute;
	 top:152%;
	 font-size:17px;
	 left:770px;
  }
.wrapper input[type=mesaj]{
    width: 40%;
    height:80px;
    padding: 1em 1em;
    margin: 1em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
	background: #F2EBE2;
    box-sizing: border-box;
	position:absolute;
	top:154%;
	left:750px;
	
  }
 #mesaj-error{
	 position:absolute;
	 top:169.5%;
	 font-size:17px;
	 left:770px;
  }
.btn {
    width: 20%;
    background: rgba(205, 211, 211, 0.67);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	position:absolute;
    color: black;
    padding: 1rem 1rem;
    position:5px;
    left:750px;
	top:180%;
    border: none;
    border-radius: 1px;
    cursor: pointer;
	
  }
  #submit-error{
	 position:absolute;
	 top:188%;
	 font-size:17px;
	 left:770px;
  }
  
.btn:hover {
  background-color: #66CC66 ;}

	

/*-------------------BUTON HAMBURGER-------------------------*/
.meniu{
    background:rgba(147, 176, 65, 0.2);
	
   z-index:100;
	
    position:absolute;
	top:0;
    width:100%;
	left:0px;
    
	padding:10px;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline;
    padding: 10px;
    text-decoration: none;
    color:#33268c;
    font-size:19px;
	position:relative;
	left:25px;
	margin:30px;
}

nav .mainMenu li a:hover {
    background: #CCCCFF;
	color:black;
	border-radius:100%;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
	display:none;
}

.ig{
	width:100px;
height:20px;}
.gi{
	position:relative;
	left:580px;
	width:130px;
	height:67px;
	z-index:200;
	border-radius: 21px 0px;
}
  
/*--------------FOOTER----------------*/
 
footer nav a {	
    display:inline-block;
	text-align: center;
    color:rgba(103, 119, 56, 1);
    padding: 19px 19px;
    text-decoration:none;
    font-size: 18px;
	position:relative;
	left:-30px;
}
.menu{
	border-right-style: solid;
    border-right-color: rgba(103, 119, 56, 1);	
}
.copyright{
	position:absolute;
	top:208%;
	right:30px;
	font-size:18px;
	color:rgba(103, 119, 56, 1);
}
.med{
	position:absolute;
	top:200%;
	right:75px;
	width: 125px;
    height: 80px;
	font-style:caption;
	color:rgba(103, 119, 56, 1);
}
h4{
	display:none;
}
footer nav{
	
    position:absolute;
	top:200%;
	width:100%;
	text-align: center;
	background-color: rgba(147, 176, 65, 0.4);	
	padding:20px;
	}
.fo{
	position:absolute;
	top:203%;
	left:60px;
	width:130px;
	height:67px;
	z-index:200;
	border-radius: 21px 0px;
}


@media (min-width:769px) and (max-width:1100px) {
h2{
	position:absolute;
	font-family: Helvetica;
	font-size:21px;
	left:700px;
	top:79%;
	
}
.wrapper input[type=text]{
    width: 40%;
	top:90%;
	left:580px;
	
  }
  
 #nume-error{
	 position:absolute;
	 top:100%;
	 font-size:17px;
	 left:600px;
 }
.wrapper input[type=prenume]{
    width: 40%;
	top:102%;
	left:580px;
	
  }
  #prenume-error{
	 position:absolute;
	 top:112%;
	 font-size:17px;
	 left:600px;
 }
.wrapper input[type=numar]{
    width: 40%;
	top:114%;
	left:580px;
	
  }
  
  #telefon-error{
	 position:absolute;
	 top:123.6%;
	 font-size:17px;
	 left:600px;
  }
.wrapper input[type=email] {
    width: 40%;
	top:126%;
	left:580px;
	
  }
   #email-error{
	 position:absolute;
	 top:136%;
	 font-size:17px;
	 left:600px;
  }
.wrapper input[type=mesaj]{
    width: 40%;
	top:138%;
	left:580px;
	
  }
 #mesaj-error{
	 position:absolute;
	 top:153.5%;
	 font-size:17px;
	 left:600px;
  }
.btn {
    width: 20%;
    background: rgba(205, 211, 211, 0.67);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	position:absolute;
    color: black;
    padding: 1rem 1rem;
    position:5px;
    left:580px;
	top:165%;
    border: none;
    border-radius: 1px;
    cursor: pointer;
	
  }
  #submit-error{
	 position:absolute;
	 top:175%;
	 font-size:17px;
	 left:590px;
  }
.harta{
	position:absolute;
	top:78%;
	left:35px;
	width:400px;
	height:350px;
	
}
.fa-map-marker-alt{
	position:absolute;
	top:140%;
	font-size:30px;
	color:red;
	left:90px;

	
}
.fa-envelope{
	position:absolute;
	top:155%;
	font-size:30px;
	color:#C4C4C4;
	left:80px;
}
.fa-phone-alt{
	position:absolute;
	top:170%;
	font-size:30px;
	color:black;
	left:80px;
}
.d1{
	font-size:20px;
	position:absolute;
	top:137%;
	left:130px;
	width:200px;
	height:30px;
}
.d2{
	font-size:20px;
	position:absolute;
	top:152.5%;
	left:135px;
}
.d3{
	font-size:20px;
	position:absolute;
	top:168%;
	left:135px;
}
.banner {
  position:absolute;
  top:15%;
  left:0px;
  margin: auto;
  width:1047px;
  height:320px;
}
.linie1{
	position:absolute;
	top:60%;
	left:0px;
	font-size:37px;
    
}
.p1{
	
	position:absolute;
	top:67.6%;
	left:457px;
 
	font-size:20px;

	
}
.p2{
	
	position:absolute;
	top:67.8%;
	right:498px;
 
	font-size:20px;

	
}
.linie2{
	position:absolute;
	top:60%;
	right:-10px;
	font-size:38px;
    
}
.home{
	
	top:69.5%;
	left:473px;
	
	
}


nav .mainMenu li a {
    top:0;
	left:190px;
		position:relative;
	font-size:18px;
    top:0;
	left:-20px;
	margin:17px;
}
.gi{
	position:absolute;
	width:95px;
	height:65px;
	border-radius: 21px 0px;
	margin:5px;
	top:-1%;
	left:439px;

}
.ig{
	position:relative;
	right:-6px;
	width:83px;
}
footer nav{
	top:200%;
}
footer nav a{
	font-size: 16px;
	position:relative;
	left:-60px;
	margin:0px;
	
}
.copyright{
	
	top:208%;
	right:20px;
	font-size:16px;
	
}
.med{
	position:absolute;
	top:200%;
	right:50px;
	width: 120px;
    height: 80px;
	
}
h4{
	display:none;
}

.fo{
	
	top:203%;
	left:20px;
	width:100px;
	height:60px;
	
}



	
}

/*------------TABLETA---------*/
@media(min-width:602px) and (max-width:767px){
h2{
	position:absolute;
	font-family: Helvetica;
	font-size:19px;
	left:460px;
	top:68%;
	
}
.wrapper input[type=text]{
    width: 40%;
	top:80%;
	left:390px;
	
  }
  
 #nume-error{
	 position:absolute;
	 top:90%;
	 font-size:16px;
	 left:400px;
 }
.wrapper input[type=prenume]{
    width: 40%;
	top:92%;
	left:390px;
	
  }
  #prenume-error{
	 position:absolute;
	 top:102%;
	 font-size:16px;
	 left:400px;
 }
.wrapper input[type=numar]{
    width: 40%;
	top:104%;
	left:390px;
	
  }
  
  #telefon-error{
	 position:absolute;
	 top:113.6%;
	 font-size:16px;
	 left:400px;
  }
.wrapper input[type=email] {
    width: 40%;
	top:116%;
	left:390px;
	
  }
   #email-error{
	 position:absolute;
	 top:126%;
	 font-size:16px;
	 left:400px;
  }
.wrapper input[type=mesaj]{
    width: 40%;
	top:128%;
	left:390px;
	
  }
 #mesaj-error{
	 position:absolute;
	 top:143.5%;
	 font-size:16px;
	 left:400px;
  }
.btn {
    width: 20%;
    background: rgba(205, 211, 211, 0.67);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	position:absolute;
    color: black;
    padding: 1rem 1rem;
    position:5px;
    left:390px;
	top:150%;
    border: none;
    border-radius: 1px;
    cursor: pointer;
	
  }
  #submit-error{
	 position:absolute;
	 top:159%;
	 font-size:16px;
	 left:400px;
  }
.harta{
	position:absolute;
	top:68%;
	left:35px;
	width:280px;
	height:250px;
	
}
.fa-map-marker-alt{
	position:absolute;
	top:115%;
	font-size:30px;
	color:red;
	left:70px;

	
}
.fa-envelope{
	position:absolute;
	top:133%;
	font-size:30px;
	color:#C4C4C4;
	left:60px;
}
.fa-phone-alt{
	position:absolute;
	top:148%;
	font-size:30px;
	color:black;
	left:60px;
}
.d1{
	font-size:20px;
	position:absolute;
	top:113%;
	left:100px;
	width:200px;
	height:30px;
}
.d2{
	font-size:20px;
	position:absolute;
	top:130.5%;
	left:135px;
	left:105px;
}
.d3{
	font-size:20px;
	position:absolute;
	top:145%;
	left:135px;
	left:105px;
}
.banner {
  position:absolute;
  top:15%;
  left:0px;
  margin: auto;
  width:814px;
  height:260px;
}

.linie1{
	position:absolute;
	top:55%;
	left:5px;
	font-size:26px;
    
}
.p1{
	
	position:absolute;
	top:59.3%;
	left:322px;
 
	font-size:18px;

	
}
.p2{
	
	position:absolute;
	top:59.3%;
	right:340px;
 
	font-size:18px;

	
}
.linie2{
	position:absolute;
	top:55%;
	right:-5px;
	font-size:26px;
    
}
.home{
	width:40px;
	height:25px;
	top:61.5%;
	left:336px;
	
	
}

nav .mainMenu li a {
	position:relative;
	font-size:17px;
    top:0;
	left:-30px;
	margin:1px;
}
.gi{
	position:absolute;
	width:80px;
	height:65px;
	border-radius: 21px 0px;
	margin:5px;
	top:-1%;
	left:302px;

}
.ig{
	position:relative;
	right:-5px;
	width:70px;
}


footer nav{
	top:170%;
	
	}
footer nav a{
	font-size: 12px;
	position:relative;
	left:-40px;
	margin:-4px;
	
}

.copyright{
	
	top:178%;
	right:15px;
	font-size:10px;
	
}
.med{
	position:absolute;
	top:170%;
	right:20px;
	width: 110px;
    height: 70px;
	
}
h4{
	display:none;
}

.fo{
	position:absolute;
	top:173%;
	left:20px;
	width:70px;
	height:50px;
	z-index:200;
	border-radius: 21px 0px;
}




}

/*-----------MOBILE-----------*/
@media only screen and (max-width:600px){
h2{
	position:absolute;
	font-family: Helvetica;
	font-size:19.5px;
	left:170px;
	top:30%;
	
}
.wrapper input[type=text]{
    width: 70%;
	top:43%;
	left:70px;
	
	
  }
  
 #nume-error{
	 position:absolute;
	 top:53%;
	 font-size:16px;
	 left:100px;
 }
.wrapper input[type=prenume]{
    width: 70%;
	top:55%;
	left:70px;
	
  }
  #prenume-error{
	 position:absolute;
	 top:65%;
	 font-size:16px;
	 left:100px;
 }
.wrapper input[type=numar]{
    width: 70%;
	top:67%;
	left:70px;
	
  }
  
  #telefon-error{
	 position:absolute;
	 top:76.6%;
	 font-size:16px;
	 left:100px;
  }
.wrapper input[type=email] {
    width: 70%;
	top:79%;
	left:70px;
	
  }
   #email-error{
	 position:absolute;
	 top:89%;
	 font-size:16px;
	 left:100px;
  }
.wrapper input[type=mesaj]{
    width: 70%;
	top:91%;
	left:70px;
	
  }
 #mesaj-error{
	 position:absolute;
	 top:107.5%;
	 font-size:16px;
	 left:100px;
  }
.btn {
    width: 50%;
    background: rgba(205, 211, 211, 0.67);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	position:absolute;
    color: black;
    padding: 1rem 1rem;
    position:5px;
    left:110px;
	top:113%;
    border: none;
    border-radius: 1px;
    cursor: pointer;
	
  }
  #submit-error{
	 position:absolute;
	 top:122%;
	 font-size:16px;
	 left:110px;
  }
.harta{
display:none;	
}
.fa-map-marker-alt{
	position:absolute;
	top:133%;
	font-size:30px;
	color:red;
	left:70px;

	
}
.fa-envelope{
	position:absolute;
	top:144.5%;
	font-size:30px;
	color:#C4C4C4;
	left:60px;
}
.fa-phone-alt{
	position:absolute;
	top:156%;
	font-size:30px;
	color:black;
	left:60px;
}
.d1{
	font-size:17px;
	position:absolute;
	top:131%;
	left:100px;
	width:200px;
	height:30px;
}
.d2{
	font-size:17px;
	position:absolute;
	top:142.5%;
	left:135px;
	left:105px;
}
.d3{
	font-size:17px;
	position:absolute;
	top:153%;
	left:135px;
	left:105px;
}
.banner {
display:none;
}

.linie1{
	position:absolute;
	top:18%;
	left:5px;
	font-size:17px;
    
}
.p1{
	
	position:absolute;
	top:19.3%;
	left:213px;
 
	font-size:18px;

	
}
.p2{
	
	position:absolute;
	top:19.3%;
	right:220px;
 
	font-size:18px;

	
}
.linie2{
	position:absolute;
	top:18%;
	right:-5px;
	font-size:17px;
    
}
.home{
	width:30px;
	height:23px;
	top:21.7%;
	left:224px;
	
	
}


.meniu{ 
	z-index:300;
    background:rgba(147, 176, 65, 0.2);
    position:absolute;
	top:0;
    width:100%;
	overflow: hidden;	  
}
nav .mainMenu {
        height: 400px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
       
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
nav .mainMenu li a {
	position:relative;
	font-size:20px;
    top:-30%;
	left:-20px;
	color:white;
	text-transform: uppercase;
	margin:0px;
	padding:20px;
   line-height:1.5;
	
}
.gi{
	position:absolute;
	width:90px;
	height:70px;
	border-radius: 21px 0px;
	margin:5px;
	top:1%;
	left:30px;

}
.ig{
	position:absolute;
	width:50px;
	height:40px;
	border-radius: 21px 0px;
	top:20%;
	left:-10px;

}

nav .logo {
	display:inline;
	position:absolute;
	font-size:15px;
	color:rgba(29, 153, 138, 1);
	letter-spacing: 0.38em;
	font-family: Roboto;
    font-style: normal;
    font-weight: normal;
	
	right:120px;
	
	
}

nav .mainMenu .closeMenu {
        display: block;
        position:absolute;
        top: 20px;
        right: 20px;
		color:white;

    }
	
nav .openMenu {
        display: block;
		position:relative;
		left:400px;
		color:black;
    }
nav .mainMenu li a:hover {
        background:none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
		
    }
.icons i {
        display: inline-block;
        padding: 12px;
		color:white;
		position:relative;
		top:20%;
		left:-20px;
		
    }
.fo{
	
	top:175.5%;
	left:60px;
	width:100px;
	height:57px;
	
}
h4{
	display:inline;
	position:absolute;
	font-size:13px;
	color:rgba(29, 153, 138, 1);
	letter-spacing: 0.38em;
	font-family: Roboto;
    font-style: normal;
    font-weight: normal;
	
	right:290px;
	top:184.5%;
}
footer nav a{
	visibility:hidden;
   
	}
footer nav{
	top:170%;
}
.copyright{
	position:absolute;
	top:185%;
	right:30px;
	font-size:13px;
	color:rgba(103, 119, 56, 1);
}
	
.med{
	position:absolute;
	top:175%;
right:50px;
	
}


	
}